- content_for :head do
  = stylesheet_link_tag 'palettes'

- content_for :script_bottom do
  = javascript_include_tag 'palettes'

.greeting
  Hello World

.swatch

%label.palette-selector-label Palette:
%select#palette-selector.palette-selector
  - 3.times do |n|
    %option.palette-option{value: n + 1} Palette #{n + 1}

%br
%br
%input#custom-color{placeholder: 'Custom color...'}
%br
%br
%button#submit.submit-button Submit
